img {
  height: 200px;
  width: 200px;
  padding-left: 20px;
}
body {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
nav {
  padding-left: 20px;
  padding-right: 20px;
  /* background-color: rgb(201, 207, 209); */
  height: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  letter-spacing: 0.2rem;
  margin-bottom: 40px;
}
nav a {
  color: rgb(32, 20, 12);
  font-size: 20px;
  padding-left: 30px;
  text-decoration: none;
  font-weight: 7px;
  padding-right: 20px;
}
nav a:hover {
  color: orange;
}
p {
  text-align: justify;
}
.column {
  float: left;
  padding: 10px;
}
.column.side {
  color: white;
  width: 25%;
}
.column.middle {
  color: white;
  width: 50%;
}
.column.side2 {
  color: white;
  width: 20%;
}
h2 {
  color: maroon;
  font-family: "Gill Sans";
}
.columnmiddle,
img {
  align-items: center;
  padding-left: 40px;
  border-radius: 5rem;
}
.start {
  color: white;
}
.hero {
  padding-left: 30px;
}
.icon1 {
  height: 200px;
  width: 300px;
}
/* .columnside,
img {
  height: 200px;
  width: 300px;
}
.columnmiddle,
img {
  width: 200px;
  align-items: center;
  padding-left: 130px;
}
.hike {
  align-items: center;
}
.columnside2,
img {
  margin-right: 30px;
  height: 130px;
  width: 130px;
  align-items: center;
  border-radius: 2rem;
} */

/* .side {
  float: left;
  padding: 10px;
  color:white;
} */

/* .side {
  width: 25%;
}
.middle {
  padding-top: 30px;
  margin-top: 80px;
  width: 60%;
  color: white;
}
.end{
margin-bottom: 50px;
display: flex;
padding-left: 60%;
padding-top: 55%;
  width: 40%;
  color:aliceblue

  
   */

.btnone {
  float: right;

  color: orange;
  background-color: rgb(36, 5, 5);
  padding-left: 20px;
  margin-top: 40px;
  margin-right: 40px;
  border-radius: 3rem;
  padding: 0.5rem;
  text-decoration: none;
}
.btnone:hover {
  color: blue;
}
.btntwo {
  color: white;
  margin-left: 30px;
  background-color: rgb(82, 12, 29);
  padding: 0.5rem;

  font-size: small;
  border-radius: 3rem;
  font-size: bold;
  text-decoration: none;
  margin-right: 40px;
}
.btntwo:hover {
  color: maroon;
}

/* .btntwo{
  gap:2rem;
  word-spacing: 2rem;
  background-color: coral;
}
 */

footer {
  clear: both;

  padding-left: 500px;

  background-color: darkseagreen;
  border-radius: 1rem;
  margin-top: 200px;
}
